extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1 Preston Barney
        p.lead.text-light
          | Software Engineer
        .portfolio-bio
          p
            | After living abroad in Germany for 3 years to pursue my dream of learning German, I decided to delve into the world of programming. I pride myself in my ability to learn new concepts on my own. I am looking to get into the world of blockchain and the various technologies surrounding it.   
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        
        ul
          li Express
          li React
          li BlockChain
          li Solidity
          li HTML 
          li CSS
        h6 Contact Info

        
        ul
          li 239-357-5820
          li prestonbarney123@gmail.com

        
        a.button.expanded(href='https://www.linkedin.com/in/preston-barney-667055185/') LinkedIn
        a.button.expanded(href='https://github.com/leunoia') GitHub
        a.button.expanded(href='https://twitter.com/PrestonBarney3') Twitter

  