extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Preston Barney

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | After living abroad in Germany for 3 years to pursue my dream of learning German, I decided to 
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        
        ul
          li Express
          li React
          li BlockChain
          li Solidity
          li HTML CSS
          li Etc.
        h6 Contact Info

        
        ul
          li 239-357-5820
          li prestonbarney123@gmail.com

        
        a.button.expanded(href='https://www.linkedin.com/in/preston-barney-667055185/') LinkedIn
        a.button.expanded(href='https://github.com/leunoia') GitHub
        a.button.expanded(href='https://twitter.com/PrestonBarney3') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  