extends layout.pug

block content 
    nav.grid-container.portfolio-breadcrumb
        a(href='/') â† Back
    article.grid-container.portfolio-intro.portfolio-project
        h1= err.status
         p.lead.text-light 
           = err.message